{% extends 'controlador/base.html' %}

{% block content %}
    {% for prj in projects %}
        <div class="post">
            <div class="date">
                <p>Criado em:{{prj.created_date }}</p>
				<p>Ultimo commit:{{ prj.updated_date }}</p>
            </div>
			<p> tsessses</p>
			<h2><a href="project/{{ prj.project_name }}">{{ prj.project_name }}</a></h2>
        </div>
    {% endfor %} 
{% endblock %}