{% extends 'controlador/base.html' %}

{% block content %}
<h2>{{project.project_name}}</h2>
  {% for bch in branchs %}
  
  <p><h3>branches:</h3></p>
  <p>{{bch.branch_name}}</p>
  <h2><a href="{{bch.branch_name}}">{{ bch.branch_name }}</a></h2>
  {%endfor%}
{% endblock %}